body {
  width: 90%;
  margin: auto;
  background-color: lightgrey;
  font-size: large; }
  body .dummy {
    margin: 0px;
    padding: 0px;
    visibility: hidden;
    position: absolute; }
  body main {
    width: 50%;
    margin: auto; }
    body main .exercise {
      margin-top: 50px; }
      body main .exercise .card {
        width: 380px;
        height: 500px;
        background: url(../img/pinkindiangirl.jpg);
        background-repeat: no-repeat;
        background-size: 135%;
        box-shadow: 0 0 10px transparent;
        margin: auto;
        display: flex;
        flex-direction: column;
        transition: background-size 500ms linear, box-shadow 500ms linear; }
        body main .exercise .card .cardPhoto {
          height: 68%;
          width: 100%;
          position: relative;
          background-color: rgba(255, 255, 255, 0);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          transition: height 500ms linear; }
          body main .exercise .card .cardPhoto .cardDate {
            color: white;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: red;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 25px;
            margin-top: 25px; }
          body main .exercise .card .cardPhoto .categoryName {
            margin-left: 25px;
            text-transform: uppercase;
            display: inline-block;
            margin: 0px;
            padding: 10px;
            background-color: red;
            color: white;
            position: absolute;
            bottom: -10px;
            left: 0px;
            font-size: medium; }
        body main .exercise .card .description {
          height: 30%;
          background-color: whitesmoke;
          transition: height 500ms linear; }
          body main .exercise .card .description .descriptionTitle {
            margin-top: 35px;
            margin-left: 25px;
            margin-bottom: 10px;
            text-transform: uppercase; }
          body main .exercise .card .description .descriptionSubtitle {
            margin-top: 10px;
            margin-left: 25px;
            color: red;
            font-size: larger;
            font-weight: 300; }
          body main .exercise .card .description .p_description {
            margin-left: 25px;
            height: 0%;
            overflow-y: hidden;
            visibility: hidden;
            transition: height 500ms linear, visibility 500ms linear; }
        body main .exercise .card .agoAndComments {
          width: auto;
          height: 8%;
          background-color: whitesmoke; }
          body main .exercise .card .agoAndComments .cardFooter {
            width: 100%;
            list-style: none;
            margin: 0px 0px 10px 0px;
            margin-left: 25px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            color: grey; }
            body main .exercise .card .agoAndComments .cardFooter li {
              margin: 0px 20px 0px 0px; }
              body main .exercise .card .agoAndComments .cardFooter li .icone {
                font-size: smaller;
                margin-right: 3px; }
      body main .exercise .card:hover {
        background-size: 145%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
        body main .exercise .card:hover .cardPhoto {
          background-color: rgba(255, 255, 255, 0.3);
          height: 37%; }
        body main .exercise .card:hover .description {
          height: 55%; }
          body main .exercise .card:hover .description .p_description {
            visibility: visible;
            height: 55%; }

/*# sourceMappingURL=style.css.map */
